@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* Large from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 50px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .step-box:first-child {
        margin-top: 30px;
    }

    .step-box:last-child {
        margin-top: 60px;
    }

    .screen-img {
        width: 50%;
    }

    .work-step {
        margin-bottom: 40px;
    }

    .work-step div {
        height: 46px;
        width: 46px;
        margin-right: 20px;
    }

    .app-image img {
        height: 40px;
    }

    .work-step:last-of-type {
        margin-bottom: 45px;
    }

    .icon-small {
        margin-right: 5px;
        width: 17px;
        font-size: 110%;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        margin-left: 0;
        width: 100%;
    }

    .plan-box div {
        padding: 10px;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }

    footer {
        padding: 30px;
    }

    footer p {
        font-size: 85%;
        margin-top: 20px;
    }

    .footer-nav li,
    .social-links li {
        margin-right: 10px;
    }
}

/* Medium from 481px to 767px*/
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .main-nav {
        display: none;
        float: left;
        margin-top: 20px;
    }

    .main-nav li {
        display: block;
        margin-left: 40px;
        padding: 4% 0;
    }
    .sticky .main-nav {
        float: left;
        list-style: none;
        margin-top: 5px;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    section {
        padding: 30px 0;
    }
    h1{
        font-size: 180%;
        margin: 0 0 10px;
    }
    h2{
        font-size: 150%;
        margin-bottom: 10px;
    }
    .row,
    .hero-text-box{
        padding: 0 4%;
    }
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .section-features .long-copy {
        margin-bottom: 0;
    }
    .box .icon-lg,.section-features .box h3{
        text-align: center;
    }
    .meal-photo img:hover {
        -webkit-transform: scale(1.075);
        transform: scale(1.075)
    }
    .step-box:first-child {
        margin-top: 10px;
        text-align: center;
    }

    .step-box:last-child {
        margin-top: 30px;
    }

    .screen-img {
        width: 40%;
    }

    .work-step {
        margin-bottom: 20px;
    }

    .work-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }
    .app-image{
        margin-left: 0px;
    }
    .app-image img {
        height: 40px;
    }

    .work-step:last-of-type {
        margin-bottom: 45px;
    }
    .city-feature {
        font-size: 105%;
    }
    .icon-small {
        margin-right: 10px;
        width: 25px;
        font-size: 120%;
    }
    .section-cities .box{
        margin-bottom: 10px;
    }
    .testimonial-box{
        margin-bottom: 25px;
    }
    .testimonial-box:last-child{
        margin-bottom: 0;
    }

    .plan-box div {
        padding: 10px;
    }
    .plan-price {
        font-size: 300%;
    }
    .contact-form {
        width: 100%;
    }
    .mobile-nav-icon{
        display: inline-block;
    }


}

/* Small phones from:0 to 480px */
@media only screen and (max-width: 480px) {

}