/*
    ----------------------------------------------
    Basic Styling
    Orange color: #e67e22
    ----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

a:link, a:visited {
    text-decoration: none;
    border-bottom: #e67e22 solid 1px;
    padding-bottom: 1px;
    color: #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
    color: #555;
    border-bottom: transparent solid 1px;

}

/*
    Reusable components
*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 20px;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 15px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    /*text-align: center;*/
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

/*Header*/
header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    color: #fff;
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    font-weight: 300;
    border: solid #e67e22 1px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: solid #cf6d17 1px;
    cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-ghost:link, .btn-ghost:visited {
    color: #e67e22;
}

.btn-ghost:hover, .btn-ghost:active {
    background-color: #cf6d17;
    color: #fff;
}

section {
    padding: 80px 0;
}

/*
    Nav
*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: solid transparent 2px;
    padding: 8px 0;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: solid #e67e22 2px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

.box {
    padding: 1%;
}

.icon-lg {
    font-size: 400%;
    color: #e67e22;
    margin-bottom: 10px;
    display: block;

}

.meal-section {
    padding: 0;
}

.meal-showcase {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.meal-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

/*
    HOW IT WORKS SECTION
*/
.step-box:first-child {
    text-align: right;
    display: inline-block;
    padding-right: 3%;
    margin-top: 40px;
}

.step-box:last-child {
    margin-top: 80px;
    padding-left: 3%;
}

.screen-img {
    width: 40%;
}

.work-step {
    margin-bottom: 50px;
}

.work-step div {
    color: #e67e22;
    display: inline-block;
    border: solid #e67e22 2px;
    font-size: 150%;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 25px;
}

.app-image:visited, .app-image:link {
    border: 0;
}

.app-image img {
    height: 50px;
    width: auto;
}

.work-step:last-of-type {
    margin-bottom: 100px;
}

.section-step {
    background-color: #f4f4f4;
}

/*
    Cities Section
*/

.section-cities img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    color: #e67e22;
    margin-right: 10px;
    width: 30px;
    text-align: center;
    vertical-align: center;
    font-size: 120%;
    margin-top: -5px;
}

.city-feature {
    margin-bottom: 3px;
}

/*
    Customer testimonials section
*/
.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/back-customers.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/back-customers.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    line-height: 145%;
    font-style: italic;
    position: relative;
    margin-top: 5px;
    padding: 2%;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
}

cite {
    margin-top: 20px;
    display: block;
    font-size: 90%;
}

cite img {
    border: solid #e67e22 1px;
    margin-right: 10px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

/*
    Section Plans / Sign Up
*/
.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    margin-left: 5px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ebebeb;
}

.plan-box div {
    padding: 15px;
    border-bottom: solid #efefef 1px;
}

.plan-price {
    font-size: 300%;
    color: #e67e22;
    font-weight: 100;
    margin-bottom: 10px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

/*
    Contact Us
*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: solid #cccccc 1px;
    background-color: white;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/*
    Footer
*/
footer {
    background-color: #333;
    padding: 50px;
}

footer p {
    text-align: center;
    font-size: 90%;
    color: #888;
    margin-top: 30px;
}

.footer-nav,
.social-links {
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav {
    float: left;
}

.social-links {
    float: right;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.black-logo {
    display: none;
}

.sticky .logo {
    display: none;
}

.sticky .black-logo {
    display: block;
    height: 55px;
    width: auto;
    float: left;
    margin-top: 1px;
}

.sticky {
    background-color: rgba(255, 255, 255, 0.98);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px #e5e5e5;
    z-index: 9999;
}

.sticky .main-nav {
    float: right;
    list-style: none;
    margin-top: 15px;
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #555;
    font-size: 90%;
    padding: 2px 0;
}

.js--wp-1,.js--wp-2,.js--wp-4{
    opacity: 0;
    animation-duration: 1s;
}
.js--wp-1.animated,.js--wp-2.animated,.js--wp-4.animated{
    opacity: 1;
    animation-duration: 1s;
}
.js--wp-3{
    animation-duration: 1s;
}

.mobile-nav-icon {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 250%;
    color: #fff;
}
.sticky .mobile-nav-icon i{
    color: #555;
}
